{
  "branches": [
    "main"
  ],
  "repositoryUrl": "https://github.com/alindesign/snippy",
  "plugins": [
    [
      "@semantic-release/github",
      {
        "successComment": false
      }
    ]
  ]
}
