name: release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    permissions:
      packages: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v6
        with:
          go-version: "^1.25"

      - name: Set up Node.js
        uses: actions/setup-node@v6

      - name: Set up pnpm
        uses: pnpm/action-setup@v4

      - name: Set up SQLite
        run: |
          sudo apt-get -y install sqlite3 libsqlite3-dev

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - run: go mod tidy

      - name: Install
        run: pnpm install

      - name: Codegen
        run: pnpm codegen

      - name: Test
        run: go test ./...

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
